<section class="addProducts">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h2>Add Products</h2>
							<form name="addProducts">
								<label for="text">Type</label>
								<input type="text" name="type" ng-model="p.type"> <br />
								<label for="price">Price</label>
								<input type="text" name="price" ng-model="p.price"> <br />
								<label for="image">Image</label>
								<input type="text" name="image" ng-model="p.image"> <br />
								<button ng-click="add()">ADD</button>
							</form>
						</div>
					</div>
				</div>
			</section>